.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minMax (0, 1fr));
  grid-auto-flow: column;
}

.container {
  border: 3px solid #ccc;
  padding: 20px;
  width: 22.5vw; 
  height: 45vh;
}
